.container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

main{
  color: white;
  background-color: rgba(59, 59, 59, 0.842);
}

.navbar{
  background-color: rgb(0, 0, 0);
  height: 5%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar h1{
  font-size: 1em;
}

.div1, .div2{
  background-color: rgba(59, 59, 59, 0.842);
}

.cpu-box-container, .search-box-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.cpu-box{
  background-color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  max-width: 700px;
}

.cpu-box img{
  background-color: white;
  border: 5px solid grey;
  border-radius: 10px;
  height: 60%;
}

.search-box{
  display: block;
}

input{
  display: block;
}