body{
  overflow-x: hidden;
}

.container{
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  overflow: hidden;
}

main{
  color: white;
  background-color: rgba(59, 59, 59, 0.842);
}

.navbar{
  background-color: rgb(0, 0, 0);
  height: 5%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar h1{
  font-size: 1em;
}

.div1, .div2{
  background-color: rgba(59, 59, 59, 0.842);
}

.logo{
  width: 50%;
  max-width: 500px;
}

.cpu-box-container, .search-box-container, .loading-skeleton-container, .logo-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.cpu-box, .loading-skeleton-box{
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  width: 100%;
  max-width: 700px;
  height: 50%;
}

.cpu-box img{
  background-color: white;
  border: 5px solid grey;
  border-radius: 10px;
  height: 60%;
}

.search-box{
  display: block;
}

.search-input{
  border: 3px solid black;
  border-radius: 7px;
  min-width: 200px;
  max-width: 500px;
  width: 40%;
  height: 30px;
  margin-right: 10px;
  color: white;
  background-color: grey;
}

.search-input::placeholder{
  color: rgb(165, 165, 165);
}

.input-button{
  display: flex;
  justify-content: center;
}

.input-button{
  margin: 10px 10px 0px 10px;
  height: 20%;
}

.search-button{
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  transition: background-color 0.25s;
}

.search-button:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.search-button:disabled{
  cursor: not-allowed;
  background-color: grey;
  color: rgb(77, 77, 77);
}

.cpu-suggestions-box{
  display: flex;
  justify-content: center;
  width: 100%;
}

.cpu-suggestions{
  background-color: white;
  color: black;
  width: 25%;
  min-width: 150px;
  max-width: 400px;
  height: 100%;
  margin-right: calc(75px + 0.5%);
}

.suggestion{
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.014);
}


.suggestion:hover{
  cursor: pointer;
  background-color: rgb(255, 174, 0);
}

.loading-skeleton-box{
  display: flex;
  justify-content: center;
}

.loading-skeleton1{
  height: 10vh;
  width: 80%;
  border-radius: 10px;
}

.loading-skeleton2{
  height: 40vh;
  width: 60%;
  border-radius: 10px;
}

.loading-skeleton3{
  height: 10vh;
  width: 50%;
  border-radius: 10px;
}